header {
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    background: rgba(255,255,255,0.8);
    color: black;
    padding: 20px;
    position: fixed;
    display: flex;
    z-index: 1000;
    min-height: var(--header-h);
    box-sizing: border-box;
}

main {
    flex: 1;
    padding: 20px;
    color: black;
    padding-top: calc(var(--header-h) + 20px);
    padding-bottom: 80px;
}

/* footer {
    opacity: 80%;
    color: black;
    padding: 20px;
    position: fixed;
    width: 95%;
    bottom: 0;
    display: flex;
    justify-content: center;
} */

footer {
  height: 0;
  padding: 0;
  margin: 0;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  overflow: hidden;
  pointer-events: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/juhee_bg.png');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -2;
}

.content {
    display: flex;
    color: black;
    padding: 20px;
    flex-direction: column;
}

.background-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}