@font-face {
    font-family: 'Noto Serif KR';
    src: url('../fonts/NotoSerifKR-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #514745;
    font-family: 'Noto Serif KR', sans-serif;
}

header {
    width: 90%;
    opacity: 80%;
    color: white;
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

main {
    flex: 1;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}

footer {
    opacity: 80%;
    color: white;
    padding: 20px;
    position: fixed;
    width: 95%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

p {
    text-indent: 20px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-right: 20px;
}

ul.no-bullets {
    list-style-type: none;
    padding-left: 20px;
}

li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;
}

.icon-container i {
    font-size: 50px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
    z-index: 1;
}

.icon-container i:hover {
    color: #514745;
    transform: translate(5px, 5px);
    cursor: pointer;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/juhee2.jpg');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -2;
}

.content {
    display: flex;
    color: white;
    padding: 20px;
    flex-direction: column;
}

.background-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}

.outlined-text-superbig {
    font-size: 3.0em;
    color: white;
    text-shadow: 
        0.7px  0.7px 0 #514745, 
       -0.7px -0.7px 0 #514745, 
        0.7px -0.7px 0 #514745, 
       -0.7px  0.7px 0 #514745,
        1.2px  1.2px 0 #514745, 
       -1.2px -1.2px 0 #514745, 
        1.2px -1.2px 0 #514745, 
       -1.2px  1.2px 0 #514745;
}

.outlined-text-big {
    font-size: 2.0em;
    color: white;
    text-shadow: 
        0.7px  0.7px 0 #514745, 
       -0.7px -0.7px 0 #514745, 
        0.7px -0.7px 0 #514745, 
       -0.7px  0.7px 0 #514745,
        1.2px  1.2px 0 #514745, 
       -1.2px -1.2px 0 #514745, 
        1.2px -1.2px 0 #514745, 
       -1.2px  1.2px 0 #514745;
}

.outlined-text-semibig {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 
        0.7px  0.7px 0 #514745, 
       -0.7px -0.7px 0 #514745, 
        0.7px -0.7px 0 #514745, 
       -0.7px  0.7px 0 #514745,
        1.2px  1.2px 0 #514745, 
       -1.2px -1.2px 0 #514745, 
        1.2px -1.2px 0 #514745, 
       -1.2px  1.2px 0 #514745;
}

.outlined-text {
    color: white;
    text-shadow: 
        0.7px  0.7px 0 #514745, 
       -0.7px -0.7px 0 #514745, 
        0.7px -0.7px 0 #514745, 
       -0.7px  0.7px 0 #514745,
        1.2px  1.2px 0 #514745, 
       -1.2px -1.2px 0 #514745, 
        1.2px -1.2px 0 #514745, 
       -1.2px  1.2px 0 #514745;
}

/* .outlined-text {
    color: white;
    position: relative;
}

.outlined-text::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    color: transparent;
    -webkit-text-stroke: 2px #514745;
    white-space: pre;
} */

.word-break {
    display: flex; 
    flex-wrap: wrap;
    display: inline-block; 
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.qr-button {
    background-color: #514745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.qr-button:hover {
    background-color: orange;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup img {
    width: 500px;
    height: 500px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: #514745;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    background-color: orangered;
}

.hamburger {
    display: none;
    flex-direction: column;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
}

.hamburger div {
    height: 4px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* background-color: #514745; */
    position: absolute;
    top: 0;
    right: 0;
    /* width: 500px; */
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.menu li {
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

.menu li:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: rgba(61, 51, 50, 1);
        z-index: 1;
    }

    .menu.open {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: rgba(61, 51, 50, 1);
        justify-content: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: auto;
        height: auto;
    }

    .menu li a {
        font-size: 2.0rem;
        padding: 15px 20px;
    }

    .popup img {
        width: 300px;
        height: 300px;
    }

    .background {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/juhee2.jpg');
        background-size: auto 100%;
        background-position: right;
        background-repeat: no-repeat;
        z-index: -2;
    }    

    p {
        text-indent: 20px;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-right: 20px;
    }

    li {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

}